html, body, .modal
{
    background-color: #111111;
    color: #dddddd;
}

#execution-time, #version, #copyright
{
    color: gray;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-size: 8pt;
    padding: 5px;
}

#version
{
    right: 0px;
    left: unset;
}

#copyright
{
    width: 100%;
    text-align: center;
}

#version ul
{
    padding-inline-start: 20px;
    white-space: nowrap;
    list-style: none;
    display: none;
    text-align: left;
}

#version:hover ul
{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
    padding: 5px;
}

#version li i
{
    padding-right: 5px;
}

.vertical-divider
{
    border-width: 0px;
    display: block;
    background-color: white;
    width: 1px;
    height: 100%;
    border-style: solid;
}

.blank
{
    background-color: unset !important;
}

.required
{
    color: #aa0000;
    font-size: 14pt;
}

.nud
{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.dump
{
    border-width: 1px;
    background-color: #000000;
    font-family: monospace;
    border-style: outset;
    border-color: #222222;
    overflow: scroll;
    height: 300px;
    width: 100%;
    margin-top: 15px;
    border-radius: 25px;
}

.dump h2
{
    text-align: center;
    color: gray;
    font-size: 16pt;
}

.dump span
{
    font-family: monospace;
    color: #aaaa00;
    font-size: 10pt;
}

.dump div span span:nth-child(odd)
{
    color: #aa0000;
}

.dump div span span:nth-child(even)
{
    color: #00aa00;
}

.dump xmp
{
    padding: 0px;
    margin: 0px;
    display: inline;
}

.dump #trace
{
    color: gray;
}

.container, .row
{
    min-width: 100%;
}

.card
{
    background-color: #222222;
    border-radius: 15px;
    border-width: 1px;
    broder-color: #333333;
}

.toast-system-message .error
{
    color: #aa0000;
    font-weight: bold;
}

.fab-admin
{
    left: 10px;
    top: 80px;
    max-height: 56px;
}

.modal
{
    width: 98%;
    height: 86%;
    min-height: 86%;
    min-width: 98%;
    max-height: 86%;
    max-width: 98%;
    top: 10px;
    border-radius: 25px;
    padding: 0px;
}

.modal .modal-content
{
    width: 100%;
    height: calc(100% - 50px);
}

.modal .modal-footer
{
    bottom: 0px;
    height: 50px;
}